body {
    
    font-family: "PT Sans Narrow",sans-serif;
    font-size:14px;
    color:#000;
    font-weight: 700;
    line-height:24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container{
    padding: 0 10px;
    width:960px;
    margin: 0 auto;
}
h1{
    
    font-size: 30px;
    line-height:42px;
    
}
h2{
    font-size: 24px;
    line-height:30px;
    
}
/*-------------хэдер-----------------------*/
.main-header{
    background-color: #000;
    min-height: 71px;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation-block{
  float:left;
  width: 680px;
 }
.logo{
    float:left;
    width:111px;
    margin-top: 20px;
    margin-right: 20px;
}
.main-menu{
    float:right;
    list-style: none;
    padding:0;
    margin:0;
    font-size:0px;
    width:545px;
}
.main-menu>li{
    display:inline-block;
    padding: 0px 15px;
    margin:0; 
}
.main-menu>li>a{
    display: block;
    padding: 24px 0px;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    min-height: 72px;
}
.active-item a{
    border-bottom: 4px solid #fff;
    
}
.main-menu li:hover,
.user-block-menu li:hover {
    background-color: #242424;
}
.main-header a{
color:#fff;
text-decoration: none;
    
}

.user-block{
    float:right;
    width: 110px;
   
}
.user-block-menu{
    list-style: none;
    padding:0;
    margin:0;
    font-size:0px;
}
.user-block-menu img{
    float:left;
}
.user-block-menu>li{
    display:inline-block;
    padding: 0px 15px;
    margin:0; 
}

.user-block-menu>li>a{
    display: block;
    padding: 24px 0px;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    min-height: 72px;
}
/*-------------футер-----------------------*/
.main-footer {
    padding-top: 54px;
    padding-bottom: 34px;
    background-color: #252525;
    color: #fff;
}
.main-footer a{
    color:#fff;
}
.footer-contacts{
    float:left;
    width:320px;
    margin-right: 70px;
}
.footer-copyright{
    float:right;
    width:150px;
    
}

.footer-social{
    float:left;
    width:160px;
    
    
}
.footer-social p{
     
}
.social{
    display: inline-block;
    width:30px;
    height: 30px;
    background: #000 50% 50% no-repeat;
    /*background-color:gray;
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
    vertical-align: middle;
    margin-right: 10px;
}
.social-vk{
    background-image: url("../img/vk.png");
    
}
.social-fb{
    background-image: url("../img/facebook.png");
    
}
.social-inst{
    background-image: url("../img/inst.png");
    
}

main{
    background: #f3f0ed;
    padding-top: 34px;
    padding-bottom: 50px;
}
main a{
    color:#000;
}
.main-top{
    margin-bottom: 55px;
}
.main-content{
    
}
.item-photo{
    float: left;
    width:460px;
    margin-right: 80px;
   
}
.item-photo img{
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);
}
.item-photo-main{
    margin-bottom: 20px;
}
.item-photo-small{
    font-size: 0px;
}
.item-photo-small a{
    padding: 0px;
    margin-right: 20px;
}
.item-photo-small a:last-child{
    margin-right: 0px;
}
.item-description{
    float: right;
    width:390px;
}
.item-description p{
    margin-bottom: 40px;
}
.item-info{
margin-bottom: 24px;
}
.item-info .in-stock{
    float:left;
    width:120px;
}
.item-info .vendor-code{
    float:right;
     width:120px;
}
.catalog-item-price{
    font-size: 0;
    margin-bottom: 43px;
}
.price{
    width:109px;
    box-sizing: border-box;
    background: #e5e5e5;
    display: inline-block;
    font-size: 14px;
    padding: 15px 20px;
    text-align: center;
}
.buy{
    width:109px;
    box-sizing: border-box;
    background: #000;
    color:#fff;
    display: inline-block;
    font-size: 14px;
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
}
.kit-items{
    margin: 0;
    padding: 0;
    
}
.kit-items li{
    list-style: none;
    position: relative;
    padding-left: 20px;
}
.kit-items li::before{
    content: "";
    position: absolute;
    display: block;
    width:7px;
    height: 7px;
    background: #000;
    left:0;
    transform: rotate(45deg);
    top:50%;
    margin-top: -3.5px;
}
.breadcrumbs{
    padding: 0;
    margin: 0;
   
}
.breadcrumbs li{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.breadcrumbs li a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    position: relative;
    color: #000;
}
.breadcrumbs li:first-child a{
    
    padding-left:0;
   
}
.breadcrumbs li a::after{
    content: "";
    position: absolute;
    display: block;
    width:7px;
    height: 7px;
    background: #000;
    right:0;
    transform: rotate(45deg);
    top:50%;
    margin-top: -3.5px;
    
}
.breadcrumbs .active-item{
    padding: 0 20px;
    color: #aba9a7;
}
/*-------------каталог-----------------------*/
.filter{
    float:left;
    width:220px;
}
.catalog{
    float:right;
    width:700px;
    font-size: 0px;
    
}
.catalog-item{
    width:220px;
    min-height: 285px;
    vertical-align: top;
    
    display: inline-block;
     font-size: 14px;
    
    margin-bottom: 20px;
    margin-right:20px;
}
.catalog-item:nth-child(3n){
    margin-right:0px;
}
.pagination{
    font-size: 14px;
}

.pagination ul{
    float:left;
    list-style: none;
    padding:0;
    margin:0;
    font-size:0px;
}
.pagination>ul>li{
    display:inline-block;
    margin-right: 7px;
    font-size:14px;
 
}
.pagination span{
    display:block;
    background-color: #fff;
    padding:15px 18px;
}
.pagination>ul>li>a{
    padding:15px 18px;
    display:block;
    margin:0;
    background-color: #000;
    color:#fff;
    text-decoration: none;
     
}
