body {
    
    font-family: "PT Sans Narrow",sans-serif;
    font-size:14px;
    color:#000;
    font-weight: 700;
    line-height:24px;
    margin: 0;
    padding: 0;
    
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container{
    padding: 0 10px;
    width:960px;
    margin: 0 auto;
}
h1{
    
    font-size: 30px;
    line-height:42px;
    
}
h2{
    font-size: 24px;
    line-height:30px;
    
}
/*-------------хэдер-----------------------*/
.main-header{
    background-color: #000;
    
}

.main-navigation{
  float:left;
 }
.logo{
    float:left;
}
.main-navigation ul{
    float:right;
    list-style: none;
    padding:0;
    margin:0;
    font-size:0px;
}
.main-navigation>ul>li{
    display:inline-block;
    margin-left: 40px;
   
   
   
}
.main-navigation>ul>li>a{
    display:block;
    margin:0;
    
     font-size:14px;
}
.main-header a{
color:#fff;
text-decoration: none;
    
}

.user-block{
     float:right;
   
}


/*-------------футер-----------------------*/
.main-footer {
    padding-top:60px;
    padding-bottom:40px;
    background-color: #252525;
    color: #fff;
}
.footer-contacts{
    float:left;
    width:320px;
    margin-right: 70px;
}
.footer-copyright{
    float:right;
    width:150px;
    
}

.footer-social{
    float:left;
    width:160px;
    
    
}
.footer-social p{
     
}
.social{
    display: inline-block;
    width:30px;
    height: 30px;
    background: #000 50% 50% no-repeat;
    /*background-color:gray;
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
    vertical-align: middle;
    margin-right: 10px;
}
.social-vk{
    background-image: url("../img/vk.png");
    
}
.social-fb{
    background-image: url("../img/facebook.png");
    
}
.social-inst{
    background-image: url("../img/inst.png");
    
}

main{
    background: #f3f0ed;
    padding-top: 40px;
    padding-bottom: 50px;
}
.main-content{
    
}
.item-photo{
    float: left;
    width:460px;
    margin-right: 80px;
   
}
.item-photo-small{
    font-size: 0px;
}
.item-photo-small a{
    padding: 0px;
    margin-right: 20px;
}
.item-photo-small a:last-child{
    margin-right: 0px;
}
.item-description{
    float: right;
    width:390px;
}

/*-------------каталог-----------------------*/
.filter{
    float:left;
    width:220px;
}
.catalog{
    float:right;
    width:700px;
    font-size: 0px;
    
}
.catalog-item{
    width:220px;
    min-height: 285px;
    vertical-align: top;
    
    display: inline-block;
     font-size: 14px;
    
    margin-bottom: 20px;
    margin-right:20px;
}
.catalog-item:nth-child(3n){
    margin-right:0px;
}
.pagination{
    font-size: 14px;
}

.pagination ul{
    float:left;
    list-style: none;
    padding:0;
    margin:0;
    font-size:0px;
}
.pagination>ul>li{
    display:inline-block;
    margin-right: 7px;
    font-size:14px;
 
}
.pagination span{
    display:block;
    background-color: #fff;
    padding:15px 18px;
}
.pagination>ul>li>a{
    padding:15px 18px;
    display:block;
    margin:0;
    background-color: #000;
    color:#fff;
    text-decoration: none;
     
}
